<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         cacheDirectory=".phpunit.cache"
         bootstrap="tests/bootstrap.php"
         failOnRisky="false"
         failOnWarning="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>core</directory>
            <directory>app</directory>
        </include>
    </source>
</phpunit>
